# Dependencies
node_modules
package-lock.json

# Build output
dist
build
coverage

# Environment files
.env*

# IDE files
.vscode
.idea

# Database files
*.db

# Logs
*.log

# System files
.DS_Store
Thumbs.db